[submodule "themes/fluid"]
	path = themes/fluid
	url = git@github.com:fluid-dev/hexo-theme-fluid.git
[submodule "themes/sakura"]
	path = themes/sakura
	url = git@github.com:honjun/hexo-theme-sakura.git
